<section class="presentation">
  <section class="presentation-item text">
    <stellar-cube class="stellar-cube" />
    <h1 class="portfolio-title txt-primary">Kiev Andres</h1>
    <h2>Software engineer</h2>
    <p class="portfolio-subtitle txt-secondary">
      Turning ideas into scalable and stunning digital experiences
    </p>
    <button class="btn-primary">Contact</button>
  </section>
  <section class="presentation-item image">
    <img src="/assets/images/profile-photo-2.webp" alt="" />
  </section>
</section>
