@use 'styles/variables' as *;
@media screen and (max-width: $sm-device) {
  .presentation-desktop {
    display: none;
  }
  .presentation-mobile {
    display: block;
  }
}

@media screen and (min-width: $sm-device) {
  .presentation-desktop {
    display: block;
  }
  .presentation-mobile {
    display: none;
  }
}
