@use 'styles/variables' as *;

.presentation {
  height: calc(100dvh - #{$nav-bar-height});
  padding: 3.2rem 0;
  display: flex;
  gap: 1em;

  &-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.1em;
  }

  .text {
    .stellar-cube {
      max-width: 200px;
      margin: 0 auto;
    }
  }

  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      height: 100%;
      aspect-ratio: 1;
    }
  }
}

.portfolio-title {
  font-size: 5em;
  line-height: 1;
}

.portfolio-subtitle {
  font-family: 'Jane Regular';
  font-size: 1.6em;
}
