
@use 'styles/variables' as *;

.nav-bar {
  font-family: 'Jane Regular' system-ui;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border-gray;
  padding: 0.9rem 0;

  .main-text {
    // font-weight: bold;
    font-size: 1.2em;
  }
}
