
@use 'styles/variables' as *;

.nav-bar {
  font-family: 'Jane Regular' system-ui;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-x-main;
  height: $nav-bar-height;

  .main-text {
    // font-weight: bold;
    font-size: 1.2em;
  }
}
