@font-face {
  font-family: 'Core Sans';
  src: url('/assets/fonts/core-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans';
  src: url('/assets/fonts/core-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jane Caps Bold';
  src: url('/assets/fonts/jane-caps-bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jane Regular';
  src: url('/assets/fonts/jane-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
