@use 'variables' as *;
@use 'mixins' as mixins;

// Text
.neon-text--blue    { @include mixins.neon-text($neon-cyan); }
.neon-text--purple  { @include mixins.neon-text($neon-purple); }
.neon-text--pink    { @include mixins.neon-text($neon-magenta); }

.txt-primary { color: $txt-white; }
.txt-secondary {
  color: $txt-gray;
  // font-family: 'Bushman Sans Thin', system-ui;
}

// Borders
.neon-border--blue    { @include mixins.neon-border($neon-cyan); }
.neon-border--purple  { @include mixins.neon-border($neon-purple); }
.neon-border--pink    { @include mixins.neon-border($neon-magenta); }

// Buttons
.btn-primary { @include mixins.button($neon-cyan, $txt-green); }

.glass-card {
  background: rgba(26, 26, 46, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 255, 255, 0.18);
  border-radius: 16px;
}

// Base background
.app-neon-bg { @include mixins.neon-dark-bg() }
