.presentation {
  display: flex;
  gap: 1em;

  &-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.1em;
  }
}
.portfolio-title {
  font-size: 5em;
  line-height: 1;
}
