/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Lexend Deco', sans-serif;
}
body {
  margin: 2em;
  background-image: url(./assets/imagenes/main-background.webp);
  background-size: contain;
}